.extraContainer {
  margin-top: 8px;
}
.extra {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.dim {
  color: var(--gray-400);
  font-weight: bold;
}

.notice {
  margin-top: 12px;
  color: var(--gray-300);
}

[data-action="dismiss"] {
  &.disabled {
    pointer-events: none;
  }
}
