.mention {
  display: inline-flex;
  align-items: baseline;
  padding: 2px 4px;
  padding-right: 6px;
  border-radius: var(--radius-max);
  color: var(--primary-color);
  background: var(--markup-mention-background-color);
  text-decoration: none;

  gap: 4px;
  &:hover {
    background: var(--markup-mention-background-color-hover);
  }
  &a {
    cursor: pointer;
  }

  .monospace {
    font-family: var(--font-mono);
  }

  .roleText {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    gap: 4px;
  }
  .avatar {
    align-self: center;
  }
  .icon {
    align-self: center;
    opacity: 0.8;
    color: var(--text-color);
    font-size: 16px;
    &.role {
      opacity: 1;
    }
  }
}
